.comment-item
  .comment-date= "#{time_ago_in_words comment.created_at} ago"

  .user-tab-wrapper.small
    .user-profile-image

    .user-profile-info
      .user-profile-name= comment.user.full_name
      .user-position= comment.user.company.name

  .comment-entry
    %p= comment.message
