.slide-wrapper.hire
  .container_12
    .heading-wrapper
      
      %h1 Hire Contractors To Augment Your Team
      %h2
        Contractors on Staffwisely are idle employees of BPO Companies. As vendor, the employer
        %br/
        will help make sure your projects get delivered accordingly.

      .search-input
        %input{ :type => "text", :placeholder => "e.g. Ruby Developer" }
        %input{ :type => "submit", :value => "Find a contractor" }

.slide-wrapper.bench
  .container_12
    .heading-wrapper

      %h1 Get Revenue From Your Bench
      %h2 List your idle staff here and have other companies hire them as contractors.

      %a.large-cta.cta-list-staff{ :href => "/users/sign_in" }
        List your idle staff.
        %strong
          It's Free

%ul.slide-nav
  %li
    %a#need-contractor.active Need a contractor?
  %li
    %a#people-bench Got people on bench?

.container_12
  .main-content.skill-category
    %h2.block Find a contractor
    
    .skill-list-wraper.group
      .sidebar
        .skill-menu-cat
          %ul
            %li
              %a.active#select-cat By Category

      .skill-list
        .skill-list-category-wrapper
          .group.block
            .grid_3
              - category = Category.first
              %h3
                %a= category.name

              %ul
                - category.sub_categories.each do |sub_category|
                  %li
                    %a{ :href => "/contractors?category=#{sub_category.id}" }= sub_category.name

            .grid_3
              - category = Category.find(2)
              %h3
                %a= category.name

              %ul
                - category.sub_categories.each do |sub_category|
                  %li
                    %a{ :href => "/contractors?category=#{sub_category.id}" }= sub_category.name

            .grid_3
              - category = Category.find(3)
              %h3
                %a= category.name

              %ul
                - category.sub_categories.each do |sub_category|
                  %li
                    %a{ :href => "/contractors?category=#{sub_category.id}" }= sub_category.name

          .group-block
            .grid_3
              - category = Category.find(4)
              %h3
                %a= category.name

              %ul
                - category.sub_categories.each do |sub_category|
                  %li
                    %a{ :href => "/contractors?category=#{sub_category.id}" }= sub_category.name

