.page
  = render 'selector_wrapper'
  
  .panel.lt
    .container_12
      
      - unless @employee_projects.any? || @employer_projects.any?
        .empty.large
          %h2 There are no projects listed
          %p
            Currently there are no incoming or ongoing projects.
            = link_to "Start looking for contractors", contractors_path
      - else
        .notify-view-wrapper
          - if @employee_projects.any?
            %h3 Projects started by others
          
            - @employee_projects.each do |project|
              .notify-item
                = project.title
                = link_to "View Project", "/app/projects/#{project.id}", :class => "btn action small notify-action"

            %br/

          - if @employer_projects.any?
            %h3 Projects started by me

            - @employer_projects.each do |project|
              .notify-item
                = project.title
                = link_to "View Project", "/app/projects/#{project.id}", :class => "btn action small notify-action"


