.page
  = render 'selector_wrapper'
  
  .panel.lt
    .container_12
      .project-preview.group
        .grid_8.alpha
          %h1= @project.title
          
          .contractor-head
          
            .user-tab-wrapper
              .user-profile-image= image_tag @project.employer.logo(:thumb)
              .user-profile-info
                .user-profile-name= @project.employer.name
                .user-position= @project.employer.users.first.full_name
                
            .block
              %h5.block
                #{@project.employees.count} staff working on this project
              
              - if @project.employees.any?
                - @project.employees.each do |employee|
                  .user-tab-wrapper.small.bordered
                    .user-profile-image= image_tag employee.picture(:thumb)
                    .user-profile-info
                      .user-profile-name= employee.position
                      .user-position= employee.full_name
                      
          .project-description
            %p= simple_format @project.description
            
        .grid_4.omega
          .project-details-sidebar
            .project-meta
              %ul
                %li
                  Date posted:
                  = @project.created_at.strftime("%B %d, %Y")
                  
                %li
                  Time elapsed:
                  = time_ago_in_words @project.created_at
                  ago
                  
                %li
                  Status:
                  %strong.inactive Pending
              
              %div
                %a.btn.action.accept-project Accept Project
                %div{ :style => "text-align: center;" }
                  %a.text-warning Decline this project
       
      .comments
        %h2 Leave a comment

        .response-wrapper
          = form_for(@comment, :remote => true, :url => "/app/comments") do |f|
            = f.text_area :message, { :rows => "5" }
            = f.hidden_field :project_id, :value => @project.id
            = f.hidden_field :user_id, :value => current_user.id
            %div
              = f.submit "Post comment", :class => "btn"

        .block.group{ :style => "border-bottom: 1px solid #e1e1e1" }

        #comments-list
          - if @project.comments.any?
            - @project.comments.each do |comment|
              .comment-item
                .comment-date= "#{time_ago_in_words comment.created_at} ago"
              
                .user-tab-wrapper.small
                  .user-profile-image= image_tag('avatar-blank.png')

                  .user-profile-info
                    .user-profile-name= comment.user.full_name
                    .user-position= comment.user.company.name

                .comment-entry
                  %p= simple_format comment.message
          - else
            .block.group There are no comments posted yet.
