= render '/contractors/message_box'

.page
  .container_12
  
    .sidebar
      = render 'sidebar'

    .search-results-wrapper
      .search-results-inner
        %h1 Find a contractor

        .search-wrapper
          %ul
            %li
              %input.main-search{ :id => "search-query", :type => "text", :placeholder => "e.g. Ruby Developer", :value => "#{ params[:q] }" }

            %li
              %input{ :id => "search-submit", :type => "submit", :value => "Search" }

        .search-box-tools.small
          .inline.search-count
            = page_entries_info @employees
          .inline.search-sort
          .inline.search-pagination
            = will_paginate @employees, :class => "pagination group"

        .search-results
          = render 'search_results'
               
      .search-box-tools
        .inline.search-count
          .reminder-post
            - if current_user
              Have benched employees?
              = link_to "Post your staff", "/app/employees/new"
            - else
              Need contractors?
              = link_to "Sign up!", "/users/sign_up"

        .inline.search-pagination
          = will_paginate @employees, :class => "pagination group small"
