= render '/contractors/message_box'

.page
  .container_12
  
    .sidebar
      .skill-menu-cat.search-cat
        %ul
          %li
            %a.active Contractors

    .search-results-wrapper
      .search-results-inner
        %h1 Find a contractor

        .search-wrapper
          %ul
            %li
              %input.search-input-skill{ :id => "search-query", :type => "text", :placeholder => "Ruby Developer", :value => "#{ params[:q] }" }

            %li
              %input{ :id => "search-submit", :type => "submit", :value => "Search" }

        .search-box-tools.small
          .inline.search-count
            = page_entries_info @employees
          .inline.search-sort
          .inline.search-pagination
            = will_paginate @employees, :class => "pagination group"

        .search-results
          - @employees.each do |employee|
            .search-item.group
              %a.thumbnail
                = image_tag employee.picture.url(:thumb)

              .search-profile
                %span.c_name= employee.full_name
                
                = link_to employee.company.name, nil, { :class => "company", :title => "View more staff from #{employee.company}" }

                - link = current_user ? "/users/sign_up" : nil
                - current_user_id = current_user ? current_user.id : ""
                = link_to "Contact Employer", link, { :class => "action-contact", "employer-id" => employee.company.users.first.id, "employee-id" => employee.id, "current-user" => current_user_id }
                
                %h2= employee.position

                .search-c-details
                  %ul
                    %li= "$ #{employee.rate}/hr"
                    %li
                      = image_tag("map-pin.png")
                      = employee.country.name

                  .search-more-details
                    %ul
                      %li
                        %span Level:
                        = employee.skill_level
                      %li
                        %span Tenure:
                        = employee.tenure
                      %li
                        %span Years of Experience:
                        = employee.experience

                    .c-tags
                      - employee.skills.each do |skill|
                        %a= skill
     
      .search-box-tools
        .inline.search-count
          .reminder-post
            - if current_user
              Have benched employees?
              = link_to "Post your staff", "/app/employees/new"
            - else
              Need contractors?
              = link_to "Sign up!", "/users/sign_up"

        .inline.search-pagination
          = will_paginate @employees, :class => "pagination group small"
