.login-wrapper
  .login-header User Login


  = form_tag user_session_path do
    
    .login-body  
      %fieldset
        = label_tag "Email"
        = text_field_tag "user[email]"
    
      %fieldset
        = label_tag "Password"
        = password_field_tag "user[password]"
  
    .login-footer
      %span.inline-link
        = link_to "Forgot your password?", "/users/password/new"

      %input{ :type => "submit", :name => "commit", :value => "Login" }
