.page
  .container_12
   
    = render "/app/shared/sidebar"

    .search-results-wrapper
      .page-inner
        .group
          = link_to "List a staff", new_app_employee_path, { :class => "list-a-staff" }
          .company-logo
            = image_tag current_user.company.logo.url(:thumb)

        .search-box-tools.small.bordered.group
          .inline
            %h1 Manage your bench

        .search-results
          .staff-listing
            - unless @employees.nil?
              - @employees.each do |employee|
                .staff-thumb-wrap
                  .thumbnail
                    = image_tag employee.picture.url(:thumb)

                  .staff-details
                    %ul
                      %li.staff-name
                        = employee.full_name
                        = link_to "Edit", edit_app_employee_path(employee), { :class => "edit-link" }
                      %li.staff-position
                        = employee.position
                      %li
                        .dropdown-list
                          %a
                            %span{ :id => "employee-availability-#{employee.id}" } 
                              = employee.availability
                            %i.icon.icon-sort-down
                          %ul.dropdown-options
                            %li{ "availability" => "Available", "employee_id" => employee.id }
                              %a Available
                            %li{ "availability" => "Not Available", "employee_id" => employee.id }
                              %a Not available
                            %li{ "availability" => "Hired", "employee_id" => employee.id }
                              %a Hired

      .search-box-tools
        .inline.search-pagination
          .pagination.group.small
            = will_paginate @employees
