!!!
%html
  %head
    %title Staffwisely - Ultimate Staff Marketplace for IT Ourtsourcing Companies
    = stylesheet_link_tag "application-all", :media => "all"
    = stylesheet_link_tag "application-website", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = ga_js if Rails.env.production?

    - if flash[:notice]
      %script{ :language => "javascript" }
        $(document).ready(function(){
        = fading_flash_notice
        });

    - if flash[:alert]
      %script{ :language => "javascript" }
        $(document).ready(function(){
        = fading_flash_alert
        });

    %link{ :href => 'http://fonts.googleapis.com/css?family=Bree+Serif', :rel => "stylesheet", :type => "text/css" }

  %body
    .header
      = render "shared/menu"

    = yield

    - if alert || notice
      .notification

    .footer
      .container_12
        .footer-links
          = link_to "Home", root_url
          = link_to "Contractors", contractors_path
          = link_to "How it works", "/how_it_works"
          = link_to "FAQ", "/faq"
          = link_to "", "http://twitter.com/staffwisely", :class => "social twitter"
          = link_to "", "http://facebook.com/pages/Staffwisely/421803297882337", :class => "social facebook"
