!!!
%html
  %head
    %title Staffwisely
    = stylesheet_link_tag "application-all", :media => "all"
    = stylesheet_link_tag "application-teaser", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = ga_js if Rails.env.production?
    
    %link{ :href => 'http://fonts.googleapis.com/css?family=Bree+Serif', :rel => "stylesheet", :type => "text/css" }
    
  %body
    .splash-wrapper
      = yield
